<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceeses.dao.mapper.DnyxlqycMapper">



    <insert id="batchSaveDnyxlqyc" >
        INSERT INTO `t_yxlqyc` (`year`, `college_code`, `college_name`, `batch_code`,
        `category`, `enroll_count`, `high_grade`, `low_grade`, `avg_grade`,
        `high_ranking`, `low_ranking`, `avg_ranking`)
        VALUES
        <foreach collection="list" item="dnyxlqyc" separator=",">
            (#{dnyxlqyc.year}, #{dnyxlqyc.collegeCode}, #{dnyxlqyc.collegeName}, #{dnyxlqyc.batchCode},
            #{dnyxlqyc.category}, #{dnyxlqyc.enrollCount}, #{dnyxlqyc.highGrade}, #{dnyxlqyc.lowGrade},
            #{dnyxlqyc.avgGrade},
            #{dnyxlqyc.highRanking}, #{dnyxlqyc.lowRanking}, #{dnyxlqyc.avgRanking})
        </foreach>
    </insert>

    <insert id="batchSaveDnzylqyc" >
        INSERT INTO `t_zylqyc` (`year`, `college_name`, `major_name`,
        `batch_code`, `category`, `enroll_count`, `high_grade`,
        `low_grade`, `avg_grade`, `high_ranking`, `low_ranking`,
        `avg_ranking`)
        VALUES
        <foreach collection="list" item="dnzylqyc" separator=",">
            (#{dnzylqyc.year},#{dnzylqyc.collegeName}, #{dnzylqyc.majorName},
            #{dnzylqyc.batchCode}, #{dnzylqyc.category}, #{dnzylqyc.enrollCount}, #{dnzylqyc.highGrade},
            #{dnzylqyc.lowGrade}, #{dnzylqyc.avgGrade}, #{dnzylqyc.highRanking}, #{dnzylqyc.lowRanking},
            #{dnzylqyc.avgRanking})
        </foreach>
    </insert>


    <select id="queryCollegeYc" resultType="com.ceeses.dto.CollegeEnrollYc">
        SELECT
        yx.college_code,
        yx.college_name,
        yx.batch_code,
        yx.`category`,
        yx.`high_ranking`,
        yx.`avg_ranking`,
        yx.`low_ranking`,
        yx.`high_grade`,
        yx.`avg_grade`,
        yx.`low_grade`,
        yx.`enroll_count`,
        zy.`major_name`,
        zy.`high_ranking` as zy_high_ranking,
        zy.`avg_ranking` as zy_avg_ranking,
        zy.`low_ranking` as zy_low_ranking,
        zy.`high_grade` as zy_high_grade,
        zy.`avg_grade` as zy_avg_grade,
        zy.`low_grade` as zy_low_grade,
        zy.`enroll_count` as zy_enroll_count
        FROM
        t_yxlqyc yx LEFT JOIN t_zylqyc zy ON yx.`college_name` = zy.`college_name`
        and yx.`batch_code` = zy.`batch_code` and yx.`category` = zy.`category`
        where
        1=1

            and yx.year = #{0}
            and zy.`year`= #{0}


    </select>
    
</mapper>