<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceeses.dao.mapper.LnzylqtjMapper">

    <insert id="batchSaveLnzylqtj">
        INSERT INTO `t_lnzylqtj` (`year`, `college_enroll_id`, `college_name`, `major_name`,
        `batch_code`, `category`, `enroll_count`, `high_grade`,
        `low_grade`, `avg_grade`, `high_ranking`, `low_ranking`,
        `avg_ranking`)
        VALUES
	    <foreach collection="list" item="lnzylqtj" separator=",">
            (#{lnzylqtj.year}, #{lnzylqtj.collegeEnrollId}, #{lnzylqtj.collegeName}, #{lnzylqtj.majorName},
            #{lnzylqtj.batchCode}, #{lnzylqtj.category}, #{lnzylqtj.enrollCount}, #{lnzylqtj.highGrade},
            #{lnzylqtj.lowGrade}, #{lnzylqtj.avgGrade}, #{lnzylqtj.highRanking}, #{lnzylqtj.lowRanking},
            #{lnzylqtj.avgRanking})
        </foreach>
	</insert>

</mapper>